h1, h2, h3 {
	text-align: center;
}


img {
	width: 100px;
	border-radius: 50%;
	border: 5px solid var(--secondary-color);
}

table {
	border-spacing: 0;
	width: 90vw;
	height: 85vh;
	overflow: scroll;
	margin: auto;
}

table tr.row:hover {
	background-color: var(--secondary-color);
	color: var(--third-color);
	text-shadow: -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px -1px 0 var(--primary-color);
}

table tr:hover .front {

}

table tr.row:hover button {
	background-color: var(--primary-color);
}

table tr.row:hover img {
	border: 5px solid var(--primary-color);
}

th {
	text-align: left;
}

.link {
	text-decoration: none;
	color: inherit;
}

