:root {
	--primary-color: #773141;
	--secondary-color: #FFB612;
	--third-color: white;
}

[data-theme="dal"] {
	--primary-color: #041E42;
	--secondary-color: #869397;
	--third-color: white;
}	

[data-theme="phi"] {
	--primary-color: #004C54;
	--secondary-color: #A5ACAF;
	--third-color: #565A5C;
}

[data-theme="nyg"] {
	--primary-color: #0B2265;
	--secondary-color: #A71930;
	--third-color: #A5ACAF;
}

[data-theme="tb"] {
	--primary-color: #34302B;
	--secondary-color: #D50A0A;
	--third-color: #FF7900;
}

[data-theme="kc"] {
	--primary-color: #E41837;
	--secondary-color: #FFB81C;
	--third-color: white;
}

[data-theme="sf"] {
	--primary-color: #AA0000;
	--secondary-color: #B3995D;
	--third-color: white;
}

[data-theme="chi"] {
	--primary-color: #0B162A;
	--secondary-color: #C83803;
	--third-color: white;
}

[data-theme="jax"] {
	--primary-color: #006778;
	--secondary-color: #101820;
	--third-color: #D7A22A;
}

[data-theme="buf"] {
	--primary-color: #00338D;
	--secondary-color: #C60C30;
	--third-color: white;
}

[data-theme="mia"] {
	--primary-color: #008E97;
	--secondary-color: #005778;
	--third-color: #FC4C02;
}

[data-theme="bal"] {
	--primary-color: #241773;
	--secondary-color: #000000;
	--third-color: #9E7C0C;
}

[data-theme="oak"] {
	--primary-color: #000000;
	--secondary-color: #A5ACAF;
	--third-color: white;
}

[data-theme="ne"] {
	--primary-color:#002244;
	--secondary-color:#C60C30;
	--third-color: #B0B7BC;
}

[data-theme="den"] {
	--primary-color: #002244;
	--secondary-color: #FB4F14;
	--third-color: white;
}

[data-theme="gb"] {
	--primary-color: #203731;
	--secondary-color: #FFB612;
	--third-color: white;
}


body {
  margin: 0;
  font-family: Papyrus;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-color);
  color: var(--third-color);
  text-shadow: -1px 1px 0 var(--secondary-color), 1px 1px 0 var(--secondary-color), 1px -1px 0 var(--secondary-color), -1px -1px 0 var(--secondary-color);
  font-weight: 900;
  font-size: 18px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}